.gform_wrapper.gravity-theme .gf_progressbar_percentage span { 
    display: none !important;
    float: right;
    font-size: 13px;
    line-height: 21px;
    margin-left: 8px;
    margin-right: 8px;
    min-width: 2em;
    width: auto;
}

.gform_wrapper.gravity-theme .gfield textarea.small {
    height: 60px !important
}
