// ---------
// 0-settings
// Reset ###

.v-p{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.h-p{
    padding-left: 2rem;
    padding-right: 2rem;
}

.mg-h-auto{
    margin-left: auto;
    margin-right: auto;
}

.maximize-w{
    width: 100%;
}

.mg-t-1{
    margin-top: 1rem;
}

.mg-r-1{
    margin-right: .6rem;
}